body{
    background-color: #1b1b1b;
    color: white;
}
#btnUpdate{
    display:none;
}
#InputDescripcion {
    width: 300px;
    height: 150px;
}
#InputLlamada {
    width: 200px;
    height: 100px;
}
#InputPhone {
    width: 200px;
    height: 100px;
}
#InputCC {
    width: 200px;
    height: 100px;
}
#InputContrato {
    width: 200px;
    height: 100px;
}
#InputName {
    width: 200px;
    height: 100px;
}
